<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>Spotter IRL Base</title>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

        <script type="text/javascript">
            
            var xhr = new XMLHttpRequest();

            window.onLoad = function() {
                    window.location.assign("/")
            }

            function masterLogout() {
                xhr.open("GET", "/masterout", true);
                xhr.send();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        console.log(xhr.responseText)
                        window.location.assign("/masterlogin")
                    }
                }
            }

        </script>

    </head>
    <body>
        <div class="col-sm-12" style="min-height:50vh">
            <div class="col-sm-8">
                <div class="col-sm-7">
                    <h2>Recent requests</h2>
                </div>
                <div class="col-sm-5">
                    <div class="col-sm-5" style="background-color:blue; color:white; text-align:center;">
                        <h2>Blue: 20</h2>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5" style="background-color:red; color:white; text-align:center;">
                        <h2>Red: 15</h2>
                    </div>
                </div>
                <div id="requests">
                
                </div>
            </div>
            <div class="col-sm-4">
                <h2>Recent actions</h2>
            </div>
        </div>
        
<!-- Lower part of the page -->

        <div>
                <div class="col-sm-8">
                    <h2>Team list</h2>
                    <div class="col-sm-12">
                        <div class="col-sm-5" style="background-color:blue; color:white;">
                            <table class="table"><tr><th style="text-align:left;">Blue</th><th style="text-align:center;">20</th><th  style="text-align:right;">1250?</th></tr></table>
                        </div>
                        <div class="col-sm-2"><!-- space between the two teams' list --></div>
                        <div class="col-sm-5" style="background-color:red; color:white;">
                            <table class="table"><tr><th style="text-align:left;">Red</th><th style="text-align:center;">15</th><th  style="text-align:right;">2450?</th></tr></table>
                        </div>
                    </div>
                </div>
                
            <div class="col-sm-3">
                <h2>Send sms</h2>
            </div>
            <div class="col-sm-1">
                <h2>Game</h2>
                <p><input id="startRound" class="btn btn-success btn-lg btn-block" type="submit" value="Start"></p>
                <p><input id="endRound" class="btn btn-success btn-lg btn-block" type="submit" value="End"></p>
                <br><br><br>
                <p><input id="logOut" class="btn btn-danger btn-sm btn-block" type="submit" value="Log out" onclick="masterLogout()"></p>
            </div>
        </div>
    </body>
</html>