<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spotter IRL</title>
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link href="static/jumbotron-narrow.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
    <script src="static/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="static/script.js" charset="utf-8"></script>
    <script type="text/javascript">
        var xhr = new XMLHttpRequest();

        window.onload = function() {
            if(window.location.href != gameServerAddress) {
                window.location.assign("/");
            }
            getMessage();
            setInterval(function() {
                getMessage();
                isJailed();
                if (userJailed == "False") {
                    window.location.assign("/");
                }
            }, 2000);
        }

        function logout() {
            $.ajax("/wrongInfo")
                .done(function(data) {
                    window.location.assign("/")
                });
        }

        function checkStatus() {
            
        }
    </script>
</head>
<body class="page-pending">
    <div class="container">
        <h1>Oled sees!</h1>
        <p>kasutaja <span id="username" class="large">{{ user }}</span></p>
        <p>telefon <span id="phone" class="large">{{ phone }}</span></p>
        <div id="messages"></div>
        <p class="large">Saad kohe SMSi. Oota raundi algust.</p>
        <div id="isJailed" hidden></div>
        <p><input id="invalidRegistration" type="submit" class="button red" value="Tegid vea, tahad muuta?" onclick="logout()"></p>
    </div>
</body>
</html>
