<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>Spotter IRL</title>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

        <script type="text/javascript">
            
            var xhr = new XMLHttpRequest();

            window.onLoad = function() {
                    window.location.assign("/")
            }

            function logout() {
                xhr.open("GET", "/wrongInfo", true);
                xhr.send();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        console.log(xhr.responseText)
                        window.location.assign("/")
                    }
                }
            }

        </script>

    </head>
    <body>
        <div class="col-xs-12 col-sm-2 col-sm-offset-5">
            <b><p style="font-size:400%; text-align:center;">Welcome</p>
            <p style="font-size:300%;">user {{ user }}</p></b>
            <p style="font-size:200%;">{{ phone }}</p>
            <p style="font-size:200%;">{{ email }}</p>
            <p>Go show your screen to spawnmaster @Keila päevade noorteala.</p>
            <p><input id="playerPending" type="submit" class="btn btn-success btn-lg btn-block" value="Are you there?"></p>
            <p><input id="invalidRegistration" type="submit" class="btn btn-danger btn-sm btn-block" value="I made a mistake, go back" onclick="logout()"></p>
        </div>
    </body>
</html>