<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spotter IRL</title>
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link href="static/jumbotron-narrow.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
    <script type="text/javascript">
    	window.onload = function() {
            //if(window.location.href != gameServerAddress) {
                window.location.assign("/");
            //}
        }
    </script>
</head>
<body class="page-pending">
    <div class="container">
        <h1>Sind suunatakse peagi tagasi pealehele</h1>
    </div>
</body>
</html>